@font-face {
  font-family: "Space Grotesk";
  font-weight: 200;
  font-display: fallback;
  src: url("/fonts/SpaceGrotesk-Light.woff2") format("woff2"),
    url("/assets/fonts/SpaceGrotesk-Light.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-display: fallback;
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("/assets/fonts/SpaceGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-display: fallback;
  src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("/assets/fonts/SpaceGrotesk-Medium.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 600;
  font-display: fallback;
  src: url("/fonts/SpaceGrotesk-Semibold.woff2") format("woff2"),
    url("/assets/fonts/SpaceGrotesk-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-display: fallback;
  src: url("/fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("/assets/fonts/SpaceGrotesk-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

:root {
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  font-weight: 500;
  color: #bbbeff;
  text-decoration: inherit;
  text-decoration: underline;
}

body {
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}
/* PLZ NO MESS WITH THIS OR MAC USERS WILL CRY */
#canv {
  width: 100vw;
  height: 100vh;
  top: 0;
  opacity: 0.3;
  position: fixed;
}
.safariHack {
  z-index: 30;
  position: absolute;
  width: 100%;
}
/* PLZ NO MESS WITH THIS OR MAC USERS WILL CRY */

.main-nav {
  position: sticky;
  top: 1rem;
  margin: 1rem auto 0 auto;
  max-width: 1600px;
  background-color: rgba(0, 0, 0, 0.8);

  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 40;
}
.main-nav-logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  color: white;
  padding: 1rem;
  transition: all 0.7s linear;
}
.main-nav-logo-img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 12px;
  transition: all 0.7s linear;
}
.main-nav-logo:hover .main-nav-logo-img {
  animation: spin 0.7s linear infinite;
  border-radius: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav-links {
  display: flex;

  align-items: center;
  margin-right: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.nav-links a:hover,
.main-nav-logo:hover {
  text-decoration: underline;

  color: #bbbeff;
}

.hero-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  margin: 5rem auto;
  max-width: 1600px;
  padding: 1rem;
}

.hero-grid-2-text h1 {
  font-size: 3.5rem;
  letter-spacing: -1px;
  line-height: 1.25;
  font-weight: 400;
}

.hero-grid-2-text p {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}

.tag {
  margin-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: 700;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  width: fit-content;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.tag-heading {
  font-size: 1.2rem;
  font-weight: 400;
}

.tag-dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1200px;
  background-color: #ff4d4d;

  margin-right: 0.5rem;
}

.testimonials p {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: rgb(207, 207, 207);
  padding: 1rem;
}

/* // Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-240px * 9));
  }
}

/* // Styling */
.testimonials {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  border: 2px solid rgba(255, 255, 255, 0.1);
  height: auto;
  border-radius: 24px;

  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  max-width: 1600px;

  &::before,
  &::after {
    content: "";
    height: 160px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll 32s linear infinite;
    display: flex;
    width: calc(240px * 18);
  }
  .slide-track img {
    object-position: center;
    object-fit: contain;
  }

  .slide {
    height: 100px;
    width: 240px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.tag-dot {
  animation: pulse 1s infinite;
}

.project-parent {
  max-width: 1600px;
  margin: 0 auto;
}
.project-parent h2 {
  margin-top: 4rem;
  font-size: 2.5rem;
  letter-spacing: -0.5px;
}
.project-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 1.5rem;
}

.project-card {
  background-color: rgba(0, 0, 0, 0.35);
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;

  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
}
a.project-card:hover {
  border: 2px solid rgba(144, 157, 255, 0.5);
  transform: scale(1.025);
  transition: all 0.15s ease-in-out;
}

.project-development {
  background-color: lightgray;
  padding: 0.25rem 0.75rem;
  font-weight: 700;
  color: black;

  position: relative;

  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: fit-content;
}

.project-card img {
  width: 100%;
  height: 20rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  object-fit: cover;
  object-position: top;
  display: flex;
}
.project-card-title {
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  color: white;
}

.project-card-content {
  padding: 1rem;
  min-height: 7rem;
  color: rgb(203, 203, 203);
  flex: 1;
}
.project-date {
  margin-top: 1rem;
}

.project-tags {
  /* border-top: 2px solid rgba(255, 255, 255, 0.1); */
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.project-platform-type {
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
}
.project-work-type {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
  padding: 1rem;
  color: rgb(189, 189, 189);
}

.project-work-type-tag {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 120px;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  width: fit-content;
  color: rgb(212, 212, 212);
}
.project-see-more {
  text-align: center;
  padding: 1rem;
  color: #000;
  background-color: #bbbeff;
  border: 1px solid #bbbeff;
  margin: 2rem auto;
  width: fit-content;
  min-width: 320px;
  text-decoration: none;
  display: block;
  border-radius: 12px;
}

footer {
  max-width: 1600px;
  margin: 4rem auto 0 auto;
  background-color: rgba(0, 0, 0, 0.35);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  border-radius: 16px 16px 0 0;
}
.footer-heading {
  padding: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-cols {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.footer-cols-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-end {
  padding: 1rem;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding-top: 1rem;
  margin-top: 2rem;
}

@media (max-width: 1650px) {
  .main-nav {
    margin: 1rem;
  }
  .hero-grid-2 {
    margin: 1rem;
  }

  .project-parent {
    margin: 1.5rem;
  }

  .testimonials {
    margin: 1.5rem;
  }
}
@media (max-width: 960px) {
  .hero-grid-2 {
    grid-template-columns: 1fr;
  }
  .project-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .hero-grid-2 {
    gap: 1.5rem;
  }
  .hero-grid-2-text h1 {
    font-size: 2rem;
  }

  .hero-grid-2-text p {
    font-size: 1rem;
  }

  .tag-heading {
    font-size: 1rem;
  }
  .main-nav {
    margin: 0.5rem;
  }
  .project-card-container {
    grid-template-columns: 1fr;
  }
  .project-parent {
    margin: 1rem;
  }
  .project-parent h2 {
    font-size: 2rem;
  }
  .testimonials {
    margin: 1rem;
  }
}

.error-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.error-container div {
  background: rgba(0, 0, 0, 0.35);
  padding: 4rem;
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
}
