@font-face {
  font-family: "Space Grotesk";
  font-weight: 200;
  font-display: fallback;
  src: url("/fonts/SpaceGrotesk-Light.woff2") format("woff2"), url("/assets/fonts/SpaceGrotesk-Light.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-display: fallback;
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/SpaceGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-display: fallback;
  src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2"), url("/assets/fonts/SpaceGrotesk-Medium.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 600;
  font-display: fallback;
  src: url("/fonts/SpaceGrotesk-Semibold.woff2") format("woff2"), url("/assets/fonts/SpaceGrotesk-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-display: fallback;
  src: url("/fonts/SpaceGrotesk-Bold.woff2") format("woff2"), url("/assets/fonts/SpaceGrotesk-Bold.woff") format("woff");
}


:root {
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #1a1a1a;

}
/* PLZ NO MESS WITH THIS OR MAC USERS WILL CRY */
#canv {
  width: 100vw;
  height: 100vh;
  top: 0;
  opacity: 0.3;
  position: fixed;
}
.safariHack {
  z-index: 30;
  position: absolute;
  width: 100%;
  
}
/* PLZ NO MESS WITH THIS OR MAC USERS WILL CRY */

.main-nav {
 margin: 1rem auto 0 auto;
 max-width: 1600px;
 background-color: rgba(0,0,0,0.5);
 padding: 1rem;
 border: 2px solid rgba(255,255,255,0.1);
 box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
 border-radius: 24px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.main-nav-logo {
display: flex;
align-items: center; 
gap: 0.5rem
}
.main-nav-logo-img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1200px;
}
.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-right: 1rem;
}

.hero-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  margin: 4rem auto;
  max-width: 1600px;
}

.hero-grid-2-text h1 {
  font-size: 3.5rem;
  
  line-height: 1.25;
  
}


.hero-grid-2-text p {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  
  
}

.tag {
margin-top: 1rem;
  background-color: rgba(255,255,255,0.4);
  color: black;
  font-weight: 700;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  width: fit-content;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  display: flex;
  align-items: center;


}

.tag-heading {
  font-size: 1.5rem;
  font-weight: 300;
}

.tag-dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1200px;
  background-color: #ff4d4d;

  margin-right: 0.5rem;
}

.testimonials p {
 border-bottom: 2px solid rgba(255,255,255,0.1);
color: rgb(207, 207, 207);
 padding: 1rem;
}




/* // Animation */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


/* // Styling */
.testimonials {
	background: rgba(0,0,0,0.15);
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  border: 2px solid rgba(255,255,255,0.1);
height: auto;
border-radius: 24px;

	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
  max-width: 1600px;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 64s linear infinite;
		display: flex;
		width: calc(250px * 18);
	}
  .slide-track img {
    object-position: center;
    object-fit: contain;
  }
	
	.slide {
		height: 100px;
		width: 250px;
	}
}