.main-container {
  max-width: 1200px;
  margin: 2rem auto;
}

.story-hero {
  width: 100%;
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
}
.story-heading {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -1px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  max-width: 1600px;
  margin: 1.5rem auto;
  gap: 2.5rem;
}

.grid-2 li {
  font-size: 1.25rem;
  color: rgb(171, 171, 171);
}
.story-container {
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.6);
}
.card {
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 24px;
  padding: 1rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
