.main-container {
  max-width: 1440px;
  margin: 2rem auto;
}

.story-hero {
  width: 100%;
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
}
.story-heading {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -1px;
}

.grid-intro {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  max-width: 1600px;
  margin: 1.5rem auto;
  gap: 2.5rem;
  font-size: 1.25rem;
}

.grid-intro li {
  font-size: 1.25rem;
  color: rgb(171, 171, 171);
  font-weight: 400;
}
.story-container {
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.6);
}
.card {
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  padding: 1rem;
}

.three-col {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  flex-wrap: wrap;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin: 1.5rem 0;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-text {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-weight: 400;
  max-width: 72rem;
}

.main-heading {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.main-image {
  width: 100%;

  display: block;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 24px;
  min-height: 2rem;
  margin: 2rem 0;
}
.main-image-container {
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  margin: 2rem 0;
  border-radius: 24px;
}
.main-image-context {
  width: 100%;

  display: block;
  border-radius: 24px 24px 12px 12px;
  min-height: 2rem;
}
.main-image-context-text {
  font-size: 1rem;
  padding: 1rem;
}

@media (max-width: 1540px) {
  .main-container {
    margin: 1rem;
  }
}
@media (max-width: 640px) {
  .story-heading {
    font-size: 1.25rem;
  }
  .main-container {
    margin: 1rem;
  }

  .grid-intro {
    grid-template-columns: 1fr;
  }
  .main-heading {
    font-size: 2rem;
  }
  .main-text {
    font-size: 1rem;
  }
}
